.body {
  background-color: whitesmoke; /* dark background */
  margin: 0; /* optional: remove default margin */
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* optional: center vertically */
}

